<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 绑定 Mapper 接口-->
<mapper namespace="com.kilogate.hi.mybatis.dao.UserDao">
    <!-- 绑定方法 -->
    <select id="getUserList" resultType="com.kilogate.hi.mybatis.pojo.User">
        select *
        from mybatis.user
    </select>

    <!-- 使用 resultMap -->
    <resultMap id="userInfo" type="com.kilogate.hi.mybatis.pojo.UserInfo">
        <id property="id" column="id"/>
        <result property="username" column="name"/>
        <result property="password" column="pwd"/>
    </resultMap>
    <select id="getUserInfoList" resultMap="userInfo">
        select *
        from mybatis.user
    </select>
</mapper>