<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 绑定 Mapper 接口-->
<mapper namespace="com.kilogate.hi.mybatis.dao.UserDao">
    <!-- 绑定方法 -->
    <select id="getUserList" resultType="com.kilogate.hi.mybatis.pojo.User">
        select *
        from mybatis.user
    </select>

    <!-- 使用 resultMap -->
    <resultMap id="userInfo" type="com.kilogate.hi.mybatis.pojo.UserInfo">
        <id property="id" column="id"/>
        <result property="username" column="name"/>
        <result property="password" column="pwd"/>
    </resultMap>
    <select id="getUserInfoList" resultMap="userInfo">
        select *
        from mybatis.user
    </select>

    <!-- 使用参数，使用动态SQL -->
    <select id="getUserListByParam" parameterType="com.kilogate.hi.mybatis.param.QueryUserParam" resultType="com.kilogate.hi.mybatis.pojo.User">
        select *
        from mybatis.user
        <where>
            <if test="nameLike != null">
                and name like #{nameLike}
            </if>
            <if test="passwordLike != null">
                and pwd like #{passwordLike}
            </if>
        </where>
    </select>

    <update id="updateUser" parameterType="com.kilogate.hi.mybatis.pojo.User">
        update mybatis.user
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="pwd != null">
                pwd = #{pwd},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="selectByIn" parameterType="map" resultType="com.kilogate.hi.mybatis.pojo.User">
        select * from mybatis.user
        <where>
            <if test="ids != null and ids.size > 0">
                id in
                <foreach collection="ids" item="id" open="(" close=")" separator=", ">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>
</mapper>