<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- ioc 测试 -->
    <bean id="serviceB" class="com.hi.spring.ioc.xmlconfig.ServiceB"/>
    <bean id="serviceA" class="com.hi.spring.ioc.xmlconfig.ServiceA">
        <constructor-arg ref="serviceB"/>
    </bean>

    <!-- aop 测试 -->
    <bean id="service" class="com.hi.spring.aop.xmlconfig.Service"/>
    <bean id="logAspect" class="com.hi.spring.aop.xmlconfig.LogAspect"/>
    <aop:config>
        <aop:aspect ref="logAspect"> <!-- 切面 -->
            <aop:pointcut id="log" expression="execution(* *.service(..))"/> <!-- 切点 -->
            <aop:before pointcut-ref="log" method="before"/> <!-- 前置通知 -->
            <aop:after pointcut-ref="log" method="after"/> <!-- 后置通知 -->
        </aop:aspect>
    </aop:config>

</beans>